In [ ]:
import tensorflow as tf

In [ ]:
hello = tf.constant("Hello world")

In [ ]:
sess = tf.Session()

In [ ]:
print(sess.run(hello))

In [ ]:
# argmax() returns the index location of the max value
# argmin() returns the index location of the minimum value

# to reshape the array
arr = np.random.randint(0, 100, 10)
arr.reshape(2,5)

# create a random array then reshape it in 2d or 3d deimension

mat = np.arange(0, 100).reshape(10, 10)  # 10 rows and 10 cols
mat

# for triversing the element location in the matrix
mat[0, 1]  # 0 row and 1 col or 1st element is always row and 2nd is col

In [3]:
import numpy as np
from sklearn.preprocessing import MinMaxScaler
data = np.random.randint(0, 100, (10, 2)) 
print(data)

[[18 12]
 [35 12]
 [56  8]
 [16  7]
 [ 7  6]
 [28 77]
 [ 8 33]
 [44 33]
 [67 63]
 [62 72]]

In [ ]:
# for normalizing the data blw 0 and 1 we can do following

In [4]:
scalar_model = MinMaxScaler()
type(scalar_model)

sklearn.preprocessing.data.MinMaxScaler

In [5]:
scalar_model.fit(data)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [6]:
scalar_model.transform(data)
# the data is normalized now

array([[0.18333333, 0.08450704],
       [0.46666667, 0.08450704],
       [0.81666667, 0.02816901],
       [0.15      , 0.01408451],
       [0.        , 0.        ],
       [0.35      , 1.        ],
       [0.01666667, 0.38028169],
       [0.61666667, 0.38028169],
       [1.        , 0.8028169 ],
       [0.91666667, 0.92957746]])

In [ ]:
# for distributing the data into train and test using pandas

In [15]:
import pandas as pd

In [17]:
mydata = np.random.randint(0, 101, (50, 4))

In [22]:
df = pd.DataFrame(data = mydata, columns = ["f1","f2", "f3", "label"])

In [23]:
df

     f1  f2   f3  label
0    69  71   67     45
1     2  47   93     82
2    30  19   11     16
3    69  68   82     17
4   100  97   66     61
5    80  95    5      8
6    99  90   70     68
7     3  81   15     51
8    83   1   49     21
9    97  93   89     74
10   80  19   28     92
11   42  89   11     57
12    5  15   91     39
13   98  90   37     44
14   31  61    7     25
15   99  93   58     26
16   51   5   82     42
17   35  41    6     34
18   87  73   47     78
19    3   5    4     21
20   37  59   12     42
21    5  56   38     97
22   69   3   20     65
23   48  19   32     10
24    3  35   97      4
25   29  12   22     32
26   48  95   21     22
27   64  72   94     40
28   26  39   29     67
29   49  38    9      3
30   48  74   68     17
31   63  76   55     89
32   58  82   70     91
33   16  93   57     40
34   53  90   88     39
35   63  96   24     94
36   83  88   68     60
37   21  94   90     92
38   43  49   12     70
39    6  76   40     94
40   56  80   46      0
41   11  79   76     13
42   61  33   31     24
43   14  86   27     36
44   61  19   71     85
45   91  52  100     31
46   59  40   34     88
47   64  55   63     45
48   63  47    4     49
49   67  58   31     38

In [24]:
x = df[["f1", "f2", "f3"]]
y = df[["label"]]
# your data has been split into features and labels

In [28]:
# now spliting the data into train and test 
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.33, random_state = 42) # ran_stat mean train test randomnly split kry ga

In [30]:
x_train.shape

(33, 3)

In [32]:
x_test.shape

(17, 3)